{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Twitter</title>
      <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
      <link rel="stylesheet" href="{% static 'css/home.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
            integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet">
</head>

<body>
      <!-- TWEET BOX -->
      <div class="container border border-top-0 border-start-0">
            <div class="row">
                  <div class="col-sm-12">
                        <div class="tweet__box pb-2">
                              <form action="" method="POST">
                                    {% csrf_token %}
                                    <div class="tweetbox__input">
                                          <img src="{{user.profile.image.url}}" alt="Profile">
                                          {{form.content}}
                                          <div
                                                class="d-flex align-items-center justify-content-between pt-3 ps-5 tweet gap-2">
                                                <div class="ps-4">
                                                      <span class="material-symbols-outlined">
                                                            imagesmode
                                                      </span>
                                                      <span class="material-symbols-outlined">
                                                            gif_box
                                                      </span>
                                                      <span class="material-symbols-outlined">
                                                            page_info
                                                      </span>
                                                      <span class="material-symbols-outlined">
                                                            sentiment_satisfied
                                                      </span>
                                                      <span class="material-symbols-outlined">
                                                            early_on
                                                      </span>
                                                      <span class="material-symbols-outlined">
                                                            location_on
                                                      </span>
                                                </div>
                                                <button
                                                      class="tweet_boxbutton  btn btn-primary opacity-50 rounded-pill px-3 fw-bold">Post</button>
                                          </div>
                                    </div>
                              </form>
                        </div>
                  </div>
            </div>
      </div>
      <!-- ####### -->
</body>