{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block main %}

<div class=" bg-white">
      <form method="POST" class="butt">
            {% csrf_token %}


            {{form|crispy}}
            <input type="submit" style=":hover{color: black;}" class="btn  w-100 btn-size mt-1" value="Register">

            <div class="text-center ">
                  <p class="text-dark">Already have an Account? <span><a href="{% url 'login' %}">Sign In</a></span></p>
            </div>
      </form>

</div>



<!-- =================== -->



{% endblock %}